.button {
    /* bg-[#FACC15] text-[#15803D] px-4 py-2 rounded-full */
    background-color: #FACC15;
    color: #15803D;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 9999px;
}